.di1{
    border:4px solid;
    background-image: url("../cucss/back.jpg");
}
.di2{
    margin-top:0px;
}
.im{
    height:40px;
    width:60px;
}
.di3{
    width:300px;
}
.imgs{
    height:270px;
    width:170px;
}
.di4{
    margin:5px;
}
.jum1{
    margin:20px;
}
.di5{
    margin-left:80px;
}
.jimg{
    height:100px;
    width:100px;
}
